/* FOUNDER PAGE */


.founder-hero{

padding:90px 10%;

display:flex;

align-items:center;

gap:70px;

}



.founder-picture img{

width:280px;

height:280px;

object-fit:cover;

border-radius:50%;

border:8px solid #63c7aa;

background:#dcf4e9;

}



.founder-intro h1{

font-size:60px;

color:#214b49;

}



.founder-intro h2{

text-align:left;

font-size:35px;

color:#287b68;

}



.founder-intro p{

font-size:22px;

}




.founder-story{

background:white;

margin:50px 10%;

padding:60px;

border-radius:50px;

box-shadow:0 10px 25px rgba(0,0,0,.06);

}



.founder-story p{

font-size:22px;

line-height:1.8;

text-align:center;

}




.founder-values{

background:#e5f7ef;

padding:80px 10%;

}



.values-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}



.values-grid div{

background:white;

padding:35px;

border-radius:35px;

}



.values-grid h3{

color:#287b68;

margin-bottom:15px;

}





.founder-message{

background:#fff0df;

margin:60px 10%;

padding:70px;

border-radius:50px;

text-align:center;

}



.founder-message p{

font-size:22px;

}



.founder-message a{

display:inline-block;

margin-top:25px;

background:#63c7aa;

color:white;

padding:15px 35px;

border-radius:30px;

text-decoration:none;

font-weight:bold;

}





@media(max-width:900px){

.founder-hero{

flex-direction:column;

text-align:center;

}


.founder-intro h1,
.founder-intro h2{

text-align:center;

}



.values-grid{

grid-template-columns:1fr;

}


}